*{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif ; 
    /* Tipo de letra pedido por el Profesor en la letra del trabajo */
}

body{
    width: 100%;
    background-color: rgb(255, 255, 255); 
    text-align: center;
    align-content: center;
}

h2{
    font-size: x-large;
    color: rgb(156, 84, 2);
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 20px;
    text-align: left;
}

h3{
    font-size: x-large;
    color: rgb(156, 84, 2);
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
} 

.menu{
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-height: 45px;
    position: fixed;
    z-index: 1;

}

.header{
    margin: 0px;
    margin-top: 40px;
    padding: 0px;
    min-width: 100%;
    min-height: 450px;

}

#txt{
    width: 80%;
    margin: 15px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

p{
    margin: 5px;
    padding: 2px;
}

#principal{

    max-width: 90%;
    height: auto;
    
    display: grid;
    grid-template-columns: auto auto auto auto;
   
    column-gap: 10px; /* espacio entre las columnas  */
    row-gap: 15px; /* espacio entre las filas  */
    position: relative;    

    margin-left: auto; /* Centrar toda la seccion en pantalla */
    margin-right: auto; /* automaticamente toma un margen similar en cada lado */
}

.elemento{ 
    max-width: 260px;
    height: 350px;
    padding: 2px;
    align-content: center;

}

.frame{
    height:350px;
    /* width:270px; */
    
    max-width:260px;
    
    border: none;
    margin: 0%;
    padding: 0%;
    overflow:hidden;

}    

.pieElemento{
  
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-height: 45px;
} 

.pieFirma{
    margin: 0px;
    padding: 0px;
    width: 100%;
    max-height: 45px;
}

footer{
    background-color: black;
}

header{
    background-color: black;
}


.form-container {
    background-color: #ffe5cc; /* color pastel sobre naranja */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;

    margin-left: auto; /* Centrar toda la seccion en pantalla */
    margin-right: auto; /* automaticamente toma un margen similar en cada lado */

}

.form-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input, .form-group textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
}

.form-group textarea {
    resize: vertical;
}

.form-group button {
    background-color: #ff8c66; /* color pastel sobre naranja */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #ff704d; /* color pastel sobre naranja */
}


@media only screen and (max-width: 920px) and (min-width: 480px) {
    
    #principal{

        max-width: 90%;
        height: auto;
        
        display: grid;
        grid-template-columns: auto auto;
       
        column-gap: 8px; /* espacio entre las columnas  */
        row-gap: 12px; /* espacio entre las filas  */
        position: relative;    
    
        margin-left: auto;
        margin-right: auto;
    }

}

@media only screen and (max-width: 479px) {
    
    #principal{

        max-width: 95%;
        height: auto;
        
        display: grid;
        grid-template-columns: auto;
       
        row-gap: 8px; /* espacio entre las filas  */
        position: relative;    
    
        margin-left: auto;
        margin-right: auto;

        margin-top: 40px;
    
    }

    .header{
        display: none;
    }

    #novedad{
        margin-top: 0px;
    }
    .menu{
        
        width: 100%;
        max-height: auto;
        position: absolute;
        display: block;
        z-index: 1;
    }

    .form-container {
        padding: 10px;
        margin-top: 30px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 80%;
        max-width: 400px;
    
        margin-left: auto; /* Centrar toda la seccion en pantalla */
        margin-right: auto; /* automaticamente toma un margen similar en cada lado */
    
    }

}