*{
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #000000;
}

li {
    float: right;
    margin-right: 15px;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}
 
li a:hover{
    color: rgb(172, 141, 4);
    text-decoration: solid;
}
