*{
  margin: 0%;
  padding: 0%;
  font-family: Verdana, Geneva, Tahoma, sans-serif ; /* Tipo de letra pedido en la letra del trabajo a realizar  */
}

body{
  width: 100%;
  background-color: rgb(255, 255, 255); 
  text-align: center;
  align-content: center;
  position: relative;
}

.menu{
  margin-top: 0%;
  width: 100%;
  max-height: 45px;
  /* position: static; */
} 

nav{
  margin-top: 0px;
  width: 100%;
  max-height: 45px;
  position: fixed;
  z-index: 1;
}

h3{
  padding: 3px;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: left;
}

h4{
  padding: 3px;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: left;
}

#contenedor{
  width: 65%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding-top: 40px;  
  padding-right: 50px;
  margin-bottom: 35px;
 /* margin: 40px; */
  box-shadow: 1px 4px 32px 5px rgba(71,68,11,0.64);

  margin-left: auto;
  margin-right: auto;
}

#autor{
  margin-top: 20px;
  text-align: left;
  font-size: medium;
}

img{
  width: fit-content;
  text-align: left;
  padding: 0%;
  margin: 0%;
}

p{
  font-size: larger;
  text-align: justify;
}

#descripcion{
  background-color: rgb(245, 209, 155);
  margin: 15px 0px;
  text-align: left;
  text-decoration: solid;

}


.pieElemento{
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-height: 45px;
} 

.pieFirma{
  margin: 0px;
  padding: 0px;
  width: 100%;
  max-height: 45px;
}

footer{
  background-color: black;
  position: static;
   bottom: 0px; 
  width: 100%;
}



@media only screen and (max-width: 920px) and (min-width: 480px){   
  #contenedor{
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 2f;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding-top: 40px;  
    padding-right: 20px;
    margin-bottom: 15px;
    /* margin: 40px; */
    box-shadow: 1px 4px 32px 5px rgba(71,68,11,0.64);

    margin-left: auto;
    margin-right: auto;
  }

  p{
    font-size: medium;
    text-align: justify;
    padding: 15px;
  }

  footer{
    background-color: black;
    position: static;
     bottom: 0px; 
    width: 100%;
  }
}

@media only screen and (max-width: 479px) {
  
  #contenedor{
    width: 95%;
    display: grid;
    grid-template-columns: auto;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding-top: 40px;  
    padding-right: 20px;
    margin-bottom: 15px;
    box-shadow: 1px 4px 32px 5px rgba(71,68,11,0.64);

    margin-left: auto;
    margin-right: auto;
  }

  #imagen{
    display: none;
  }

  p{
    font-size: small;
    text-align: justify;
    padding: 10px;
  }

  .menu{    
    width: 100%;
    max-height: auto;
    position: absolute;
    display: block;
    z-index: 1;
  }

  footer{
    background-color: black;
    position: static;
     bottom: 0px; 
    width: 100%;
  }
}